body {
    background-color: #d4d3de;
    text-align: center
}

.toad {
    font-family: fantasy;

}

h1, h2, h3{
    font-family: "MedievalSharp";
}

.secret {
    opacity: 0.5;
}

h2{
    color:#3f30e6;
}

h3{
    color:#14690c
}

ul, .toad {
    list-style-type: none;
    font-family: "Norican";
}

table,
th,
td {
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    font-family: "Parisienne";

}

.cabbage {
    color:chartreuse;
}

th,
td {
    padding: 5px 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}