body {
    background-color: #d4d3de;
    text-align: center
}

/* In your main.css add an attribute of font-family: fantasy;to all elements that have a class that matches your pet's class */
.toad {
    font-family: fantasy;

}