body {
    background-color: #d4d3de;
    text-align: center
}

.toad {
    font-family: fantasy;

}

.secret {
    opacity: 0.5;
}

ul {
    list-style-type: none;
}

table,
th,
td {
    border-width: 1px;
    border-color: grey;
    border-style: solid;

}

.cabbage {
    color:chartreuse;
}

th,
td {
    padding: 5px 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}